In [1]:
import requests
from bs4 import BeautifulSoup

## task1

In [2]:
res  = requests.get('https://www.xe.com/currencyconverter/convert/?Amount=1&From=USD&To=EGP')

In [3]:
res

In [4]:
soup = BeautifulSoup(res.text,'html.parser')

In [5]:
type(soup)

bs4.BeautifulSoup

In [12]:
usd = soup.find('div' , attrs = {'class' :'sc-98b4ec47-0 jnAVFH'}).text

In [16]:
list1 = usd.split()
list1

['1', 'EGP', '=', '0.0196700', 'USD']

In [20]:
one_doller = float(list1[-2])
one_doller

0.01967

In [23]:
def exchange(amount) :
    print(f'{amount} EGY = {amount * one_doller} USD' )

In [24]:
exchange(5)

5 EGY = 0.09834999999999999 USD

## task3

In [2]:
res  = requests.get('https://books.toscrape.com/catalogue/page-1.html')

In [3]:
res

In [4]:
soup = BeautifulSoup(res.text , 'html.parser')

In [5]:
type(soup)

bs4.BeautifulSoup

In [6]:
all_books = soup.find_all('li' , attrs = {'class' :'col-xs-6 col-sm-4 col-md-3 col-lg-3'})
all_books

[<li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="a-light-in-the-attic_1000/index.html"><img alt="A Light in the Attic" class="thumbnail" src="../media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg"/></a>
 </div>
 <p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="a-light-in-the-attic_1000/index.html" title="A Light in the Attic">A Light in the ...</a></h3>
 <div class="product_price">
 <p class="price_color">Â£51.77</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>,
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="tipping-the-velvet_999/index.html"><img alt="Tipping the Velvet" class="thumbnail" src="../media/cache/26/0c/260c6ae16bce31c8f8c95daddd9f4a1c.jpg"/></a>
 </div>
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="tipping-the-velvet_999/index.html" title="Tipping the Velvet">Tipping the Velvet</a></h3>
 <div class="product_price">
 <p class="price_color">Â£53.74</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>,
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="soumission_998/index.html"><img alt="Soumission" class="thumbnail" src="../media/cache/3e/ef/3eef99c9d9adef34639f510662022830.jpg"/></a>
 </div>
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="soumission_998/index.html" title="Soumission">Soumission</a></h3>
 <div class="product_price">
 <p class="price_color">Â£50.10</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>,
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="sharp-objects_997/index.html"><img alt="Sharp Objects" class="thumbnail" src="../media/cache/32/51/3251cf3a3412f53f339e42cac2134093.jpg"/></a>
 </div>
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="sharp-objects_997/index.html" title="Sharp Objects">Sharp Objects</a></h3>
 <div class="product_price">
 <p class="price_color">Â£47.82</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>,
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="sapiens-a-brief-history-of-humankind_996/index.html"><img alt="Sapiens: A Brief History of Humankind" class="thumbnail" src="../media/cache/be/a5/bea5697f2534a2f86a3ef27b5a8c12a6.jpg"/></a>
 </div>
 <p class="star-rating Five">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="sapiens-a-brief-history-of-humankind_996/index.html" title="Sapiens: A Brief History of Humankind">Sapiens: A Brief History ...</a></h3>
 <div class="product_price">
 <p class="price_color">Â£54.23</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>,
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="the-requiem-red_995/index.html"><img alt="The Requiem Red" class="thumbnail" src="../media/cache/68/33/68339b4c9bc034267e1da611ab3b34f8.jpg"/></a>
 </div>
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="the-requiem-red_995/index.html" title="The Requiem Red">The Requiem Red</a></h3>
 <div class="product_price">
 <p class="price_color">Â£22.65</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>,
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="the-dirty-little-secrets-of-getting-your-dream-job_994/index.html"><img alt="The Dirty Little Secrets of Getting Your Dream Job" class="thumbnail" src="../media/cache/92/27/92274a95b7c251fea59a2b8a78275ab4.jpg"/></a>
 </div>
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="the-dirty-little-secrets-of-getting-your-dream-job_994/index.html" title="The Dirty Little Secrets of Getting Your Dream Job">The Dirty Little Secrets ...</a></h3>
 <div class="product_price">
 <p class="price_color">Â£33.34</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>,
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="the-coming-woman-a-novel-based-on-the-life-of-the-infamous-feminist-victoria-woodhull_993/index.html"><img alt="The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull" class="thumbnail" src="../media/cache/3d/54/3d54940e57e662c4dd1f3ff00c78cc64.jpg"/></a>
 </div>
 <p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="the-coming-woman-a-novel-based-on-the-life-of-the-infamous-feminist-victoria-woodhull_993/index.html" title="The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull">The Coming Woman: A ...</a></h3>
 <div class="product_price">
 <p class="price_color">Â£17.93</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>,
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics_992/index.html"><img alt="The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics" class="thumbnail" src="../media/cache/66/88/66883b91f6804b2323c8369331cb7dd1.jpg"/></a>
 </div>
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics_992/index.html" title="The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics">The Boys in the ...</a></h3>
 <div class="product_price">
 <p class="price_color">Â£22.60</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>,
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="the-black-maria_991/index.html"><img alt="The Black Maria" class="thumbnail" src="../media/cache/58/46/5846057e28022268153beff6d352b06c.jpg"/></a>
 </div>
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="the-black-maria_991/index.html" title="The Black Maria">The Black Maria</a></h3>
 <div class="product_price">
 <p class="price_color">Â£52.15</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>,
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="starving-hearts-triangular-trade-trilogy-1_990/index.html"><img alt="Starving Hearts (Triangular Trade Trilogy, #1)" class="thumbnail" src="../media/cache/be/f4/bef44da28c98f905a3ebec0b87be8530.jpg"/></a>
 </div>
 <p class="star-rating Two">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="starving-hearts-triangular-trade-trilogy-1_990/index.html" title="Starving Hearts (Triangular Trade Trilogy, #1)">Starving Hearts (Triangular Trade ...</a></h3>
 <div class="product_price">
 <p class="price_color">Â£13.99</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>,
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="shakespeares-sonnets_989/index.html"><img alt="Shakespeare's Sonnets" class="thumbnail" src="../media/cache/10/48/1048f63d3b5061cd2f424d20b3f9b666.jpg"/></a>
 </div>
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="shakespeares-sonnets_989/index.html" title="Shakespeare's Sonnets">Shakespeare's Sonnets</a></h3>
 <div class="product_price">
 <p class="price_color">Â£20.66</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>,
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="set-me-free_988/index.html"><img alt="Set Me Free" class="thumbnail" src="../media/cache/5b/88/5b88c52633f53cacf162c15f4f823153.jpg"/></a>
 </div>
 <p class="star-rating Five">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="set-me-free_988/index.html" title="Set Me Free">Set Me Free</a></h3>
 <div class="product_price">
 <p class="price_color">Â£17.46</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>,
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="scott-pilgrims-precious-little-life-scott-pilgrim-1_987/index.html"><img alt="Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)" class="thumbnail" src="../media/cache/94/b1/94b1b8b244bce9677c2f29ccc890d4d2.jpg"/></a>
 </div>
 <p class="star-rating Five">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="scott-pilgrims-precious-little-life-scott-pilgrim-1_987/index.html" title="Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)">Scott Pilgrim's Precious Little ...</a></h3>
 <div class="product_price">
 <p class="price_color">Â£52.29</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>,
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="rip-it-up-and-start-again_986/index.html"><img alt="Rip it Up and Start Again" class="thumbnail" src="../media/cache/81/c4/81c4a973364e17d01f217e1188253d5e.jpg"/></a>
 </div>
 <p class="star-rating Five">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="rip-it-up-and-start-again_986/index.html" title="Rip it Up and Start Again">Rip it Up and ...</a></h3>
 <div class="product_price">
 <p class="price_color">Â£35.02</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>,
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="our-band-could-be-your-life-scenes-from-the-american-indie-underground-1981-1991_985/index.html"><img alt="Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991" class="thumbnail" src="../media/cache/54/60/54607fe8945897cdcced0044103b10b6.jpg"/></a>
 </div>
 <p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="our-band-could-be-your-life-scenes-from-the-american-indie-underground-1981-1991_985/index.html" title="Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991">Our Band Could Be ...</a></h3>
 <div class="product_price">
 <p class="price_color">Â£57.25</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>,
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="olio_984/index.html"><img alt="Olio" class="thumbnail" src="../media/cache/55/33/553310a7162dfbc2c6d19a84da0df9e1.jpg"/></a>
 </div>
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="olio_984/index.html" title="Olio">Olio</a></h3>
 <div class="product_price">
 <p class="price_color">Â£23.88</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>,
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="mesaerion-the-best-science-fiction-stories-1800-1849_983/index.html"><img alt="Mesaerion: The Best Science Fiction Stories 1800-1849" class="thumbnail" src="../media/cache/09/a3/09a3aef48557576e1a85ba7efea8ecb7.jpg"/></a>
 </div>
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="mesaerion-the-best-science-fiction-stories-1800-1849_983/index.html" title="Mesaerion: The Best Science Fiction Stories 1800-1849">Mesaerion: The Best Science ...</a></h3>
 <div class="product_price">
 <p class="price_color">Â£37.59</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>,
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="libertarianism-for-beginners_982/index.html"><img alt="Libertarianism for Beginners" class="thumbnail" src="../media/cache/0b/bc/0bbcd0a6f4bcd81ccb1049a52736406e.jpg"/></a>
 </div>
 <p class="star-rating Two">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="libertarianism-for-beginners_982/index.html" title="Libertarianism for Beginners">Libertarianism for Beginners</a></h3>
 <div class="product_price">
 <p class="price_color">Â£51.33</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>,
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="its-only-the-himalayas_981/index.html"><img alt="It's Only the Himalayas" class="thumbnail" src="../media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg"/></a>
 </div>
 <p class="star-rating Two">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="its-only-the-himalayas_981/index.html" title="It's Only the Himalayas">It's Only the Himalayas</a></h3>
 <div class="product_price">
 <p class="price_color">Â£45.17</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>]

In [16]:
url_book = 'https://books.toscrape.com/catalogue/' + all_books[0].find('h3').find('a').attrs['href']
url_book

'https://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html'

In [17]:
response = requests.get(url_book)

In [18]:
soup1 = BeautifulSoup(response.text , 'html.parser')

In [19]:
content = soup1.find('div' , attrs = {'class' :'col-sm-6 product_main'})
content

<div class="col-sm-6 product_main">
<h1>A Light in the Attic</h1>
<p class="price_color">Â£51.77</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock (22 available)

</p>
<p class="star-rating Three">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<!-- <small><a href="/catalogue/a-light-in-the-attic_1000/reviews/">


                    0 customer reviews

        </a></small>
         -->


<!--
    <a id="write_review" href="/catalogue/a-light-in-the-attic_1000/reviews/add/#addreview" class="btn btn-success btn-sm">
        Write a review
    </a>

 --></p>
<hr/>
<div class="alert alert-warning" role="alert"><strong>Warning!</strong> This is a demo website for web scraping purposes. Prices and ratings here were randomly assigned and have no real meaning.</div>
</div>

In [20]:
book_name = content.find('h1').text
book_name

'A Light in the Attic'

In [21]:
price = content.find('p' , attrs= {'class': 'price_color'}).text

In [22]:
availability = content.find('p' , attrs= {'class': 'instock availability'}).text.strip('\n ')

In [23]:
rating_list = content.find('p' , attrs= {'class' : ['star-rating Two' , 'star-rating Three','star-rating One', 'star-rating Five' ,'star-rating Four']}).attrs['class']
rate = ' '.join(rating_list)

In [24]:
number_of_reviews= soup1.find('table' , attrs= {'class' :'table table-striped'}).find_all('td')[-1].text

In [54]:
import requests
from bs4 import BeautifulSoup
with open('books.csv' , mode = 'w') as fd :
    fd.write('book_name, price , rate , availability , number_of_reviews\n')
    
    for i in range(1, 51):
        print(f'scraping page {i}')
        res =requests.get(f'https://books.toscrape.com/catalogue/page-{i}.html')
        soup = BeautifulSoup(res.text, 'html.parser')
        all_books = soup.find_all('li' , attrs = {'class' :'col-xs-6 col-sm-4 col-md-3 col-lg-3'})
        for j in range(len(all_books)):
            url_book = 'https://books.toscrape.com/catalogue/' + all_books[j].find('h3').find('a').attrs['href']
            
            response = requests.get(url_book)
            soup1 = BeautifulSoup(response.text , 'html.parser')

            content = soup1.find('div' , attrs = {'class' :'col-sm-6 product_main'})

            book_name = content.find('h1').text

            price = content.find('p' , attrs= {'class': 'price_color'}).text

            availability = content.find('p' , attrs= {'class': 'instock availability'}).text.strip('\n ')

            rating_list = content.find('p' , attrs= {'class' : ['star-rating Two' , 'star-rating Three','star-rating One', 'star-rating Five' ,'star-rating Four']}).attrs['class']

            rate = ' '.join(rating_list)

            number_of_reviews= soup1.find('table' , attrs= {'class' :'table table-striped'}).find_all('td')[-1].text

            fd.write(f'\"{book_name}\",\"{price}\",\"{rate}\",\"{availability}\" ,\"{number_of_reviews}\"\n')

scraping page 1
scraping page 2
scraping page 3
scraping page 4
scraping page 5
scraping page 6
scraping page 7
scraping page 8
scraping page 9
scraping page 10
scraping page 11
scraping page 12
scraping page 13
scraping page 14
scraping page 15
scraping page 16
scraping page 17
scraping page 18
scraping page 19
scraping page 20
scraping page 21
scraping page 22
scraping page 23
scraping page 24
scraping page 25
scraping page 26
scraping page 27
scraping page 28
scraping page 29
scraping page 30
scraping page 31
scraping page 32
scraping page 33
scraping page 34
scraping page 35
scraping page 36
scraping page 37
scraping page 38
scraping page 39
scraping page 40
scraping page 41
scraping page 42
scraping page 43
scraping page 44
scraping page 45
scraping page 46
scraping page 47
scraping page 48
scraping page 49
scraping page 50

In [55]:
import pandas as pd 
pd.read_csv('books.csv')

,book_name,price,rate,availability,number_of_reviews
0,A Light in the Attic,Â£51.77,star-rating Three,In stock (22 available),0
1,Tipping the Velvet,Â£53.74,star-rating One,In stock (20 available),0
2,Soumission,Â£50.10,star-rating One,In stock (20 available),0
3,Sharp Objects,Â£47.82,star-rating Four,In stock (20 available),0
4,Sapiens: A Brief History of Humankind,Â£54.23,star-rating Five,In stock (20 available),0
...,...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,Â£55.53,star-rating One,In stock (1 available),0
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",Â£57.06,star-rating Four,In stock (1 available),0
997,A Spy's Devotion (The Regency Spies of London #1),Â£16.97,star-rating Five,In stock (1 available),0
998,1st to Die (Women's Murder Club #1),Â£53.98,star-rating One,In stock (1 available),0
999,"1,000 Places to See Before You Die",Â£26.08,star-rating Five,In stock (1 available),0

### task 4

In [6]:
res = requests.get('https://www.scrapethissite.com/pages/simple/')

In [7]:
res

In [8]:
soup = BeautifulSoup(res.text , 'html.parser')

In [9]:
type(soup)

bs4.BeautifulSoup

In [30]:
all_countries= soup.find_all('div' , attrs ={'class' :'col-md-4 country'})

In [31]:
country_name = all_countries[0].find('h3', attrs= {'class' :'country-name'}).text.replace('\n' , ' ').replace(' ' , '')

In [41]:
info = all_countries[0].find('div' , attrs= {'class' :'country-info'}).find_all('span')
info

[<span class="country-capital">Andorra la Vella</span>,
 <span class="country-population">84000</span>,
 <span class="country-area">468.0</span>]

In [44]:
capital = info[0].text
capital

'Andorra la Vella'

In [47]:
population = info[1].text
population

'84000'

In [48]:
area = info[2].text
area

'468.0'

In [49]:
len(all_countries)

250

In [51]:
with open ('countries_info.csv' , mode = 'w') as fd :
    fd.write('country_name ,capital,population,area\n')
    
    for i in range(len(all_countries)) :
        country_name = all_countries[i].find('h3', attrs= {'class' :'country-name'}).text.replace('\n' , ' ').replace(' ' , '')
        info = all_countries[i].find('div' , attrs= {'class' :'country-info'}).find_all('span')
        capital = info[0].text
        population = info[1].text
        area = info[2].text

        fd.write(f'\"{country_name}\" , \"{capital}\",\"{population}\",\"{area}\"\n')

In [52]:
pd.read_csv('countries_info.csv')

           country_name               capital  population       area
0               Andorra    "Andorra la Vella"       84000      468.0
1    UnitedArabEmirates           "Abu Dhabi"     4975593    82880.0
2           Afghanistan               "Kabul"    29121286   647500.0
3     AntiguaandBarbuda          "St. John's"       86754      443.0
4              Anguilla          "The Valley"       13254      102.0
..                   ...                  ...         ...        ...
245               Yemen               "Sanaa"    23495361   527970.0
246             Mayotte           "Mamoudzou"      159042      374.0
247         SouthAfrica            "Pretoria"    49000000  1219912.0
248              Zambia              "Lusaka"    13460305   752614.0
249            Zimbabwe              "Harare"    11651858   390580.0

[250 rows x 4 columns]

### task5

In [134]:
re = requests.get('https://www.scrapethissite.com/pages/forms/?per_page=100')

In [135]:
re

In [136]:
soup=BeautifulSoup(re.text , 'html.parser')

In [137]:
type(soup)

bs4.BeautifulSoup

In [138]:
teams = soup.find_all('tr' , attrs= {'class':'team'})
len(teams)

100

In [139]:
info_of_teams = teams[0].find_all('td')

In [140]:
team_name =info_of_teams[0].text.replace('\n', '').replace(' ','')
year = info_of_teams[1].text.replace('\n', '').replace(' ','')
wins =info_of_teams[2].text.replace('\n', '').replace(' ','')
losses =info_of_teams[3].text.replace('\n', '').replace(' ','')
success= info_of_teams[5].text.replace('\n', '').replace(' ','')
gf =info_of_teams[6].text.replace('\n', '').replace(' ','')
ga =info_of_teams[7].text.replace('\n', '').replace(' ','')
ga

'264'

In [143]:
number_of_pages = int(soup.find('ul' , attrs= {'class':'pagination'}).find_all('a')[-2].text.replace('\n', '').replace(' ',''))
number_of_pages

6

In [153]:
re = requests.get('https://www.scrapethissite.com/pages/forms/?per_page=100')
soup1=BeautifulSoup(re.text , 'html.parser')
number_of_pages = int(soup1.find('ul' , attrs= {'class':'pagination'}).find_all('a')[-2].text.replace('\n', '').replace(' ',''))

with open('hockey_teams.csv' , mode = 'w') as fd :
    fd.write('team_name,year,wins,losses,success,gf,ga\n')

    for i in range(1,number_of_pages + 1):
        print(f'scraping page {i}')
        res =requests.get(f'https://www.scrapethissite.com/pages/forms/?page_num={i}&per_page=100')
        soup = BeautifulSoup(res.text, 'html.parser')
        teams = soup.find_all('tr' , attrs= {'class':'team'})
        
        for j in range(len(teams)):

            info_of_teams = teams[j].find_all('td')

            team_name =info_of_teams[0].text.replace('\n', '').replace(' ','')

            year = info_of_teams[1].text.replace('\n', '').replace(' ','')

            wins =info_of_teams[2].text.replace('\n', '').replace(' ','')

            losses =info_of_teams[3].text.replace('\n', '').replace(' ','')

            success= info_of_teams[5].text.replace('\n', '').replace(' ','')

            gf =info_of_teams[6].text.replace('\n', '').replace(' ','')

            ga =info_of_teams[7].text.replace('\n', '').replace(' ','')

            fd.write(f'\"{team_name}\",\"{year}\",\"{wins}\",\"{losses}\",\"{success}\",\"{gf}\",\"{ga}\"\n')

scraping page 1
scraping page 2
scraping page 3
scraping page 4
scraping page 5
scraping page 6

In [154]:
pd.read_csv('hockey_teams.csv')

              team_name  year  wins  losses  success   gf   ga
0          BostonBruins  1990    44      24    0.550  299  264
1         BuffaloSabres  1990    31      30    0.388  292  278
2         CalgaryFlames  1990    46      26    0.575  344  263
3     ChicagoBlackhawks  1990    49      23    0.613  284  211
4       DetroitRedWings  1990    34      38    0.425  273  298
..                  ...   ...   ...     ...      ...  ...  ...
577   TampaBayLightning  2011    38      36    0.463  235  281
578   TorontoMapleLeafs  2011    35      37    0.427  231  264
579    VancouverCanucks  2011    51      22    0.622  249  198
580  WashingtonCapitals  2011    42      32    0.512  222  230
581        WinnipegJets  2011    37      35    0.451  225  246

[582 rows x 7 columns]

### Task 6

In [155]:
re = requests.get('https://jsonplaceholder.typicode.com/users')

In [156]:
re

In [158]:
result = re.json()
result

[{'id': 1,
  'name': 'Leanne Graham',
  'username': 'Bret',
  'email': 'Sincere@april.biz',
  'address': {'street': 'Kulas Light',
   'suite': 'Apt. 556',
   'city': 'Gwenborough',
   'zipcode': '92998-3874',
   'geo': {'lat': '-37.3159', 'lng': '81.1496'}},
  'phone': '1-770-736-8031 x56442',
  'website': 'hildegard.org',
  'company': {'name': 'Romaguera-Crona',
   'catchPhrase': 'Multi-layered client-server neural-net',
   'bs': 'harness real-time e-markets'}},
 {'id': 2,
  'name': 'Ervin Howell',
  'username': 'Antonette',
  'email': 'Shanna@melissa.tv',
  'address': {'street': 'Victor Plains',
   'suite': 'Suite 879',
   'city': 'Wisokyburgh',
   'zipcode': '90566-7771',
   'geo': {'lat': '-43.9509', 'lng': '-34.4618'}},
  'phone': '010-692-6593 x09125',
  'website': 'anastasia.net',
  'company': {'name': 'Deckow-Crist',
   'catchPhrase': 'Proactive didactic contingency',
   'bs': 'synergize scalable supply-chains'}},
 {'id': 3,
  'name': 'Clementine Bauch',
  'username': 'Samantha',
  'email': 'Nathan@yesenia.net',
  'address': {'street': 'Douglas Extension',
   'suite': 'Suite 847',
   'city': 'McKenziehaven',
   'zipcode': '59590-4157',
   'geo': {'lat': '-68.6102', 'lng': '-47.0653'}},
  'phone': '1-463-123-4447',
  'website': 'ramiro.info',
  'company': {'name': 'Romaguera-Jacobson',
   'catchPhrase': 'Face to face bifurcated interface',
   'bs': 'e-enable strategic applications'}},
 {'id': 4,
  'name': 'Patricia Lebsack',
  'username': 'Karianne',
  'email': 'Julianne.OConner@kory.org',
  'address': {'street': 'Hoeger Mall',
   'suite': 'Apt. 692',
   'city': 'South Elvis',
   'zipcode': '53919-4257',
   'geo': {'lat': '29.4572', 'lng': '-164.2990'}},
  'phone': '493-170-9623 x156',
  'website': 'kale.biz',
  'company': {'name': 'Robel-Corkery',
   'catchPhrase': 'Multi-tiered zero tolerance productivity',
   'bs': 'transition cutting-edge web services'}},
 {'id': 5,
  'name': 'Chelsey Dietrich',
  'username': 'Kamren',
  'email': 'Lucio_Hettinger@annie.ca',
  'address': {'street': 'Skiles Walks',
   'suite': 'Suite 351',
   'city': 'Roscoeview',
   'zipcode': '33263',
   'geo': {'lat': '-31.8129', 'lng': '62.5342'}},
  'phone': '(254)954-1289',
  'website': 'demarco.info',
  'company': {'name': 'Keebler LLC',
   'catchPhrase': 'User-centric fault-tolerant solution',
   'bs': 'revolutionize end-to-end systems'}},
 {'id': 6,
  'name': 'Mrs. Dennis Schulist',
  'username': 'Leopoldo_Corkery',
  'email': 'Karley_Dach@jasper.info',
  'address': {'street': 'Norberto Crossing',
   'suite': 'Apt. 950',
   'city': 'South Christy',
   'zipcode': '23505-1337',
   'geo': {'lat': '-71.4197', 'lng': '71.7478'}},
  'phone': '1-477-935-8478 x6430',
  'website': 'ola.org',
  'company': {'name': 'Considine-Lockman',
   'catchPhrase': 'Synchronised bottom-line interface',
   'bs': 'e-enable innovative applications'}},
 {'id': 7,
  'name': 'Kurtis Weissnat',
  'username': 'Elwyn.Skiles',
  'email': 'Telly.Hoeger@billy.biz',
  'address': {'street': 'Rex Trail',
   'suite': 'Suite 280',
   'city': 'Howemouth',
   'zipcode': '58804-1099',
   'geo': {'lat': '24.8918', 'lng': '21.8984'}},
  'phone': '210.067.6132',
  'website': 'elvis.io',
  'company': {'name': 'Johns Group',
   'catchPhrase': 'Configurable multimedia task-force',
   'bs': 'generate enterprise e-tailers'}},
 {'id': 8,
  'name': 'Nicholas Runolfsdottir V',
  'username': 'Maxime_Nienow',
  'email': 'Sherwood@rosamond.me',
  'address': {'street': 'Ellsworth Summit',
   'suite': 'Suite 729',
   'city': 'Aliyaview',
   'zipcode': '45169',
   'geo': {'lat': '-14.3990', 'lng': '-120.7677'}},
  'phone': '586.493.6943 x140',
  'website': 'jacynthe.com',
  'company': {'name': 'Abernathy Group',
   'catchPhrase': 'Implemented secondary concept',
   'bs': 'e-enable extensible e-tailers'}},
 {'id': 9,
  'name': 'Glenna Reichert',
  'username': 'Delphine',
  'email': 'Chaim_McDermott@dana.io',
  'address': {'street': 'Dayna Park',
   'suite': 'Suite 449',
   'city': 'Bartholomebury',
   'zipcode': '76495-3109',
   'geo': {'lat': '24.6463', 'lng': '-168.8889'}},
  'phone': '(775)976-6794 x41206',
  'website': 'conrad.com',
  'company': {'name': 'Yost and Sons',
   'catchPhrase': 'Switchable contextually-based project',
   'bs': 'aggregate real-time technologies'}},
 {'id': 10,
  'name': 'Clementina DuBuque',
  'username': 'Moriah.Stanton',
  'email': 'Rey.Padberg@karina.biz',
  'address': {'street': 'Kattie Turnpike',
   'suite': 'Suite 198',
   'city': 'Lebsackbury',
   'zipcode': '31428-2261',
   'geo': {'lat': '-38.2386', 'lng': '57.2232'}},
  'phone': '024-648-3804',
  'website': 'ambrose.net',
  'company': {'name': 'Hoeger LLC',
   'catchPhrase': 'Centralized empowering task-force',
   'bs': 'target end-to-end models'}}]

In [159]:
len(result)

10

In [197]:
name = result[0]['name']
username =result[0]['username']
email = result[0]['email']
street =result[0]['address']['street']
suite = result[0]['address']['suite']
city  =result[0]['address']['city']
zipcode = result[0]['address']['zipcode']
geo_lat = result[0]['address']['geo']['lat']
geo_lng =result[0]['address']['geo']['lng']
phone = result[0]['phone']

In [200]:
with open('users_info.csv' , mode = 'w' ) as fd :

    fd.write('name , username, email, street, suite, city,zipcode , geo_lat,geo_lng, phone\n')

    for i in range(len(result)):
        name = result[i]['name']
        username =result[i]['username']
        email = result[i]['email']
        street =result[i]['address']['street']
        suite = result[i]['address']['suite']
        city  =result[i]['address']['city']
        zipcode = result[i]['address']['zipcode']
        geo_lat = result[i]['address']['geo']['lat']
        geo_lng =result[i]['address']['geo']['lng']
        phone = result[i]['phone']

        fd.write(f'\"{name} \", \"{username}\",\" {email}\", \"{street}\",\" {suite}\", \"{city}\",\"{zipcode}\" , \"{geo_lat}\",\"{geo_lng}\", \"{phone}\"\n')

In [201]:
pd.read_csv('users_info.csv')

,name,username,email,street,suite,city,zipcode,geo_lat,geo_lng,phone
0,Leanne Graham,"""Bret""",Sincere@april.biz,"""Kulas Light""",Apt. 556,"""Gwenborough""",92998-3874,"""-37.3159""",81.1496,"""1-770-736-8031 x56442"""
1,Ervin Howell,"""Antonette""",Shanna@melissa.tv,"""Victor Plains""",Suite 879,"""Wisokyburgh""",90566-7771,"""-43.9509""",-34.4618,"""010-692-6593 x09125"""
2,Clementine Bauch,"""Samantha""",Nathan@yesenia.net,"""Douglas Extension""",Suite 847,"""McKenziehaven""",59590-4157,"""-68.6102""",-47.0653,"""1-463-123-4447"""
3,Patricia Lebsack,"""Karianne""",Julianne.OConner@kory.org,"""Hoeger Mall""",Apt. 692,"""South Elvis""",53919-4257,"""29.4572""",-164.2990,"""493-170-9623 x156"""
4,Chelsey Dietrich,"""Kamren""",Lucio_Hettinger@annie.ca,"""Skiles Walks""",Suite 351,"""Roscoeview""",33263,"""-31.8129""",62.5342,"""(254)954-1289"""
5,Mrs. Dennis Schulist,"""Leopoldo_Corkery""",Karley_Dach@jasper.info,"""Norberto Crossing""",Apt. 950,"""South Christy""",23505-1337,"""-71.4197""",71.7478,"""1-477-935-8478 x6430"""
6,Kurtis Weissnat,"""Elwyn.Skiles""",Telly.Hoeger@billy.biz,"""Rex Trail""",Suite 280,"""Howemouth""",58804-1099,"""24.8918""",21.8984,"""210.067.6132"""
7,Nicholas Runolfsdottir V,"""Maxime_Nienow""",Sherwood@rosamond.me,"""Ellsworth Summit""",Suite 729,"""Aliyaview""",45169,"""-14.3990""",-120.7677,"""586.493.6943 x140"""
8,Glenna Reichert,"""Delphine""",Chaim_McDermott@dana.io,"""Dayna Park""",Suite 449,"""Bartholomebury""",76495-3109,"""24.6463""",-168.8889,"""(775)976-6794 x41206"""
9,Clementina DuBuque,"""Moriah.Stanton""",Rey.Padberg@karina.biz,"""Kattie Turnpike""",Suite 198,"""Lebsackbury""",31428-2261,"""-38.2386""",57.2232,"""024-648-3804"""